// Fonts
$font__size: 16px;
$font__body: "JF-Flat-regular", sans-serif;
$font__body-ultra-lt: "Din Next UltraLight", sans-serif;
$font__body-lt: "Din Next Light", sans-serif;
$font__body-md: "Din Next Medium", sans-serif;
$font__body-bold: "SourceSansPro Bold", sans-serif;
$font__body-black: "Din Next Black", sans-serif;
$font__body-heavy: "Din Next Heavy", sans-serif;
$font__tahoma: "tahoma";
